*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 100vh;
	overflow: hidden;
}

html {
    font-size: 62.5%;
    // make 1 rem = 10px
    background-color: $color-dark;
}





