.pillars {
    display: flex;
    align-items: flex-end;
    height: calc(70vh - 30px); // Minus the pillars header size
    min-width: 160px;
    width: 160px;
    justify-content: space-between;
    position: relative;

    // Pillars Shadow
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 72px;
        bottom: -5px;
        top: 5px;
        background: linear-gradient(to bottom, rgba($color-dark, 0), rgba($color-dark, 0.6));
        z-index: 40;
    }

    // Right pillar
    &::before {
        right: -5px;
    }

    // Left pillar
    &::after {
        left: -5px;
    }




    .pillar {
        width: 62px;
        height: 100%;
        position: relative;
        backface-visibility: hidden;
        // Borders
        &::before {
            content: "";
            position: absolute;
            left: -5px;
            right: -5px;
            bottom: -5px;
            top: 5px;
            border: 2px solid $pillar-borders;
        }

        // Arrow Background
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-position: top 58px center;
            background-color: $pillar-backround;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='62' height='35' viewBox='0 0 62 35'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31 4L0 35V31L31 0L62 31V35L31 4Z' fill='%2317181C'/%3E%3C/svg%3E");
            z-index: 30;
        }

        &.right {
            animation: slideDown 8s ease-in-out infinite;

            &:after {
                transform: scaleY(-1);
            }
        }



        &__top {
            position: absolute;
            top: 0;
            left: 50%;
            width: 24px;
            height: 24px;
            z-index: 50;
            transform: translate(-50%, -50%) rotate(45deg);
            background: linear-gradient(130deg, #f1bc51, #917444);

            // Color indicator
            &::before,
            &:after {
                content: "";
                position: absolute;
                z-index: 50;
            }
            // Triangle cover
            &::before {
                width: 0;
                height: 0;
                z-index: 60;
                transform-origin: bottom;
            }

            // Color indicator
            &:after {
                top: 3px;
                right: 3px;
                left: 3px;
                bottom: 3px;
                border: 3px solid #111;
            }

		// Green Color
		&.up {
			// Triangle cover
			&::before {
				border-left: 12px solid transparent;
				border-right: 12px solid transparent;
				border-top: 12px solid #111;
				transform: rotate(315deg) translateY(12px);
			}

			// Color indicator
			&:after {
				background: linear-gradient(141deg, #12b357 15%, #0d803e 50%);
			}
		}

		// Red Color
		&.down {
			// Triangle cover
			&::before {
				border-left: 12px solid transparent;
				border-right: 12px solid transparent;
				border-top: 12px solid #111;
				transform: rotate(-225deg) translateY(12px);
			}

			// Color indicator
			&:after {
				background: linear-gradient(-40deg, #e6174f 15%, #990f35 50%);
			}
		}

        }


    }

}


// @keyframes slideDown {
// 	50% {
// 		transform: translateY(50%);
// 	}
// }