.pillars {
    display: flex;
    align-items: flex-end;
    height: calc(70vh - 30px); // Minus the pillars header size
    min-width: 270px;
    width: 270px;
    justify-content: space-between;
    position: relative;

    .pillar {
        width: 62px;
        height: 100%;
        position: relative;
        backface-visibility: hidden;
        transform: translateY( var(--pillarHeight));
        transition: transform 6s ease-in-out;


        &.left {
            height: 90%;
        }

        &.right {
            height: 80%;
            animation: slide 8s ease-in-out infinite;

        }

        &__direction {
            position: relative;
            height: 100%;
            width: 100%;
            z-index: 1500;

            &--up {
                background-image:
                url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='62' height='35' viewBox='0 0 62 35'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31 4L0 35V31L31 0L62 31V35L31 4Z' fill='%2317181C'/%3E%3C/svg%3E");
                background-position: center 22.2px;
            }
            &--down {
                background-image:
                url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='62' height='35' viewBox='0 0 62 35'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31 31L62 5.42021e-06V4.00001L31 35L0 4L3.49691e-07 0L31 31Z' fill='%2317181C'/%3E%3C/svg%3E");
                background-position: center 32.2px;
            }
        }

        // Pillar's Frame
        &::before {
            content: "";
            position: absolute;
            left: -5px;
            right: -5px;
            bottom: -5px;
            top: 5px;
            border: 2px solid;
            border-image: linear-gradient($bronze, $brown) 1;
        }

        // Arrow Background
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            background-position: center;
            background-image:
            linear-gradient($dim-gold 0%, $brown var(--pillarGradientPosition));
            z-index: 30;
        }

    
        &__top {
            position: absolute;
            top: 0;
            left: 50%;
            width: 24px;
            height: 24px;
            transform: translate(-50%, -50%) rotate(45deg);
            background: linear-gradient(130deg, $main-gold, $bronze);
            z-index: 2500;

            // Color indicator
            &::before,
            &:after {
                content: "";
                position: absolute;
                z-index: 50;
            }
            // Triangle cover
            &::before {
                width: 0;
                height: 0;
                z-index: 60;
                transform-origin: bottom;
            }

            // Color indicator
            &:after {
                top: 3px;
                right: 3px;
                left: 3px;
                bottom: 3px;
                border: 3px solid $grey_20;
            }

		// Green Color
		&.upDiamond {
			// Triangle cover
			&::before {
				border-left: 12px solid transparent;
				border-right: 12px solid transparent;
				border-top: 12px solid $grey_20;
				transform: rotate(315deg) translateY(12px);
			}

			// Color indicator
			&:after {
				background: linear-gradient(135deg, $green_gradient_1 0%, $green_gradient_2 52.5%);
			}
		}

		// Red Color
		&.downDiamond {
			// Triangle cover
			&::before {
				border-left: 12px solid transparent;
				border-right: 12px solid transparent;
				border-top: 12px solid $grey_20;
				transform: rotate(-225deg) translateY(12px);
			}
			// Color indicator
			&:after {
				background: linear-gradient(315deg, $red_gradient_1 0%, $red_gradient_2 50%);
			}
		}
    }
   }
}

