.pillar {
    width: 64px;
    position: fixed;
    bottom: 0%;
    &::before, 
    &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%; 
    }

    &::before { left: 0; }
    &::after { right: 0; }

    &.left {
        height: 90%;
        right: calc(50% + 25px);
        &::before {
            background-image:
            linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8)),
            repeating-linear-gradient(135deg, #C59A43, #C59A43 20px, #111 20px, #111 23px);
        }
        &::after {
            background-image:
            linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8)),
            repeating-linear-gradient(225deg, #C59A43, #C59A43 20px, #111 20px, #111 23px);
        }
    }

    &.right {
        height: 80%;
        left: calc(50% + 25px);
        animation: setHeight 6s linear infinite alternate-reverse;

        &::before {
            background-image:
                linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8)),
                repeating-linear-gradient(225deg, #C59A43, #C59A43 20px, #111 20px, #111 23px);
        }
        &::after {
            background-image:
                linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8)),
                repeating-linear-gradient(135deg, #C59A43, #C59A43 20px, #111 20px, #111 23px),
              
        }
    }

    &-frame {
        position: absolute;
        bottom: 0;
        left: -5px;
        width: calc(100% + 10px);
        height: calc(100% - 5px);
        border-style: solid;
        border-width: 2px;
        border-image: linear-gradient(to bottom, #C59A43, rgb(75, 56, 19)) 1;
        z-index: -1;
    }

    &-top {
        position: absolute;
        top: 0;
        left: 50%;
        width: 20px;
        height: 20px;
        border: 4px #111 solid;
        outline: 2px #C59A43 solid;
        z-index: 1;
        transform: translate(-50%, -50%) rotate(45deg);
        background-color:#111;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 50%;
            bottom: -50%;
            transform: translate(-50%, -50%);
        }

        &.up { 
                &::before {
                    background-image: 
                    linear-gradient(
                        135deg, 
                        #111 50%, 
                        var(--clr-green-light) 25%,
                        var(--clr-green) 25%);
                }
            }

        &.down { 
            &::before {
                background-image: 
                linear-gradient(
                135deg, 
                #111 50%, 
                var(--clr-red-light) 25%,
                var(--clr-red) 25%);
            }
         }
    }
}

@keyframes setHeight {
    0% {
        //  height: 40%; 
        transform: translateY(0%)
        }
    100% {
        //  height: 80%; 
        transform: translateY(100%)
    }
}

